// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  margin-bottom: 40px;
  text-align: center; 
}

.center {
  text-align: center;
}

.description {
  font-size: 18px;
}

.scripts {
  text-align: center;
  font-size: 18px;
  margin-top: 30px;
}

ul {
  text-align: left;
  list-style-type: none;
}

